<form id='ajax_form' method='POST' action='/'>
    <button type='submit' id='send'>sennnnnnnnnnd</button>
</form>
<script>
    /*
        const xhr = new XMLHttpRequest();
        document.querySelector('#ajax_form').addEventListener('submit', (e) => {
        e.preventDefault();
        const data = {
        param1: 'AJAX PARAM 1 OUUUUUAIS',
        param2: 'value2' 
        };
        xhr.open('POST', '/');
        xhr.onload = function(data) {
         console.log('loaded', this.responseText);
        };
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data)); 
    }); 
    */
    var data = { username: 'example' };
    document.querySelector('#ajax_form').addEventListener('submit', (event) => {
        event.preventDefault();
        fetch('/', {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
    })
</script>